.container-create-room {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 50px;
  padding-top: 5vh;
}

.join-room-label {
  font-size: 1.8vw;
  color: var(--font-color-primary);
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  text-shadow: var(--shadow--dark-pink);
  margin: 0;
}

.container-input {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.create-room-form-input {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: center;
  align-items: end;
  position: relative;
  top: -20px;
  left: -1vh;
}

.text-or,
.text-link {
  margin: 0;
  z-index: 2;
  font-size: 2.4vh;
  color: white;
}

.text-link {
  color: var(--font-color-primary);
  width: 40vh;
}

.text-link:hover {
  cursor: pointer;
  color: var(--font-color-primary);
  text-shadow: var(--shadow--dark-pink);
  font-size: 2.5vh;
}

@keyframes flicker {
  0%,
  20%,
  22%,
  28%,
  32%,
  50%,
  65%,
  68%,
  100% {
    box-shadow: var(--shadow-pink) inset;
  }

  21%,
  29%,
  31%,
  66% {
    box-shadow: none;
  }
}
