.input-container {
  padding: 40px 20px;
  position: relative;
  /*background-color: #262626;
  box-shadow: inset 0 0 0.8rem black;*/
  border-radius: 10px;
}

.input-content {
  display: flex;
  align-items: center;
}
