.button-send {
  width: 12vh;
  height: 5vh;
  font-size: 1.1vw;
  background: transparent;
  border: 2px solid var(--font-color-secondary);
  border-radius: 10px;
  color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.button-send:hover {
  box-shadow: var(--shadow-pink) inset;
  border: none;
}
