.input {
  -webkit-appearance: none;
  width: 85%;
  height: 60px;
  line-height: 50px;
  font-size: 1.5em;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background-color: transparent;
  appearance: none;
  border-radius: 10px;
  padding-left: 20px;
  border: 2px solid var(--primary);
}

.input:focus {
  appearance: none;
  outline: none;
  box-shadow: var(--shadow-pink) inset;
}

.label-new {
  font-size: 1.4em;
  color: white;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  font-weight: bold;
}
